<%-include('./includes/header')%>
<%msg.forEach((m)=>{%>

  <div class="alert <%=m.type%> alert-dismissible fade show" role="alert">
    <!--<strong>Username</strong> or <strong>Password</strong> is incorrect-->
    <%=m.msg%>
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%})%>
<div class="d-sm-flex justify-content-between align-items-center mt-5 mb-4">
  <h3 class="text-light mb-0">Dashboard</h3>
</div>
<!-- <a class="btn btn-success" href="#">Restore System</a> -->
<!-- <a class="btn btn-success" href="/admin/backup">Backup System</a> -->
<a class="btn btn-success" href="/admin/showTrans">View Transactions</a>
<a class="btn btn-success" href="/admin/profit">Calculate Revenue</a>

<div class="row mt-4">
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-left-primary py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col mr-2">
            <div
              class="text-uppercase text-primary font-weight-bold text-xs mb-1"
            >
              <span>Total Customers</span>
            </div>
            <div class="text-dark font-weight-bold h5 mb-0">
              <span><%=total_customers%></span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-left-success py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col mr-2">
            <div
              class="text-uppercase text-success font-weight-bold text-xs mb-1"
            >
              <span>Total Games</span>
            </div>
            <div class="text-dark font-weight-bold h5 mb-0">
              <span><%=total_games%></span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-left-warning py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col mr-2">
            <div
              class="text-uppercase text-warning font-weight-bold text-xs mb-1"
            >
              <span>Total Consoles</span>
            </div>
            <div class="text-dark font-weight-bold h5 mb-0">
              <span><%=total_consoles%></span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('includes/footer')%>
