<%-include('./includes/header')%>

<div class="table-responsive text-primary" style="filter: blur(0px) brightness(100%);">
    <table class="table table-hover">
    <thead>
    <tr>
        <th class="text-info">USER_Id</th>
        <th class="text-info">GAME_Id</th>
        <th class="text-info">DATE_LENT</th>
        <th class="text-info">DATE_DUE</th>
        
      </tr>
    </thead>
    <tbody>
        <% for(var i =0; i < data.length; i++){%>
            <tr>
              <td class="text-light"><%= data[i].user_id %></td>
              <td class="text-light"><%= data[i].game_id %></td>
              <td class="text-light"><%= data[i].date_lent %></td>
              <td class="text-light"><%= data[i].date_due %></td>
              
            </tr>
          <% } %>
    </tbody>
</table>
</div>
<%-include('includes/footer')%>
