<%-include('./includes/header')%>

<div class="table-responsive text-primary" style="filter: blur(0px) brightness(100%);">
    <table class="table table-hover">
    <thead>
    <tr>
        <th class="text-info">User Email</th>
        <th class="text-info">Game Tile</th>
        <th class="text-info">Date Lent</th>
        <th class="text-info">Date Due</th>
        
      </tr>
    </thead>
    <tbody>
        <% for(var i =0; i < data.length; i++){%>
            <tr>
              <td class="text-light"><%= data[i].email %></td>
              <td class="text-light"><%= data[i].title %></td>
              <td class="text-light"><%= data[i].date_lent%></td>
              <td class="text-light"><%= data[i].date_due %></td> 
            </tr>
          <% } %>
    </tbody>
</table>
</div>
<%-include('includes/footer')%>
