<%-include('./includes/header')%>
<div
  class="table-responsive text-primary"
  style="filter: blur(0px) brightness(100%)"
>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-info">id</th>
        <th class="text-info">item_id</th>
        <th class="text-info">user_id</th>
        <th class="text-info">price</th>
        <th class="text-primary">date_of_purchase</th>
        <th class="text-success">type_of_transaction</th>
      </tr>
    </thead>
    <tbody>
      
      <% if (data.length == 0) { %>
        <div class="alert alert-info">
          <strong>No Records Found Matching This Criteria</strong> 
        </div>
          <% } %>
          <% for(var i =0; i < data.length; i++){%>
        
            <tr>
              <td class="text-light"><%= data[i].id %></td>
              <td class="text-light"><%= data[i].game_id %></td>
              <td class="text-light"><%= data[i].user_id %></td>
              <td class="text-light"><%= data[i].price %></td>
              <td class="text-light"><%= data[i].date %></td>
              <td class="text-light"><%= data[i].Type_of_transaction %></td>
              <% } %>
        
    </tbody>
  </table>
</div>

<div class="card bg-dark text-white">
  <h2 class="text-center text-primary mb-4">Revenue for Given Period</h2>
      <h2 class="text-center text-primary mb-4"><%= data2[0].revenue %></h2>
      <div class="row text-center">
</div>
      
        </div>


<%-include('includes/footer')%>