<%-include('includes/header')%>
<%-include('includes/search')%>
<!-- <div class="row justify-content-center">
  <div class="col-6">
    <form class="form" action="/user/search-result" method="POST">
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search...">
          <button class="btn btn-dark" type="submit" value="search">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="dropdown show justify-content-center">
    <btn class="nav-link active dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Group By
    </btn>
    <div class="ml-2 mr-2">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% categories.forEach(c => {%>
        <a class="dropdown-item" href="/game/page/1/category/<%= c.id %>"><%= c.name %></a>
  
      <%})  %>
      
      
      <a class="dropdown-item" href="/game/priceasc/page/1">Price</a>
    </div>
  </div>
  </div>
</div> -->

<h1 class="text-danger text-center mt-3">Games</h1>
<div class="p-2">
  <div class="row">
    <% for(var i = 0; i < data1.length; i++){%>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
      <div class="card shadow shadow-sm">
        <a href="/game/<%=data1[i].id%>">
          <%
            var image_url = data1[i].image_url
            if(image_url.slice(0,4) != 'http'){
              image_url = '/coollogo_com-12786558.png'
            }
    
          %>

          <img
          class="game-image img-thumbnail img-responsive"
          src=<%=image_url%>
        />
        </a>
        <div class="card-body">
          <p class="card-text">Title: <%= data1[i].title %></p>
        
          <p class="card-text text-gray-700">
            Platform: <%= data1[i].platform %>
          </p>

          <p class="card-text text-success">
            <i class="fa fa-money"></i> PKR<%=data1[i].sale_price%>
          </p>
          <% 
            let stock = data1[i].stock  
            let dis = ''
            if(stock == 0){
              dis = 'disabled'
            }
          %>
          Stock: <%=stock%>
          <div class="float-right">
          <a href="/cart/add/game/<%=data1[i].id%>" class="btn btn-primary <%=dis%>">Add to Cart</a>
        </div>

        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div class="row justify-content-center mt-5">
    <ul class="pagination pagination-md">
      <%
            var hlink;
          if(link == 'game'){
            hlink = "/game/page/"+ (currpage - 1).toString()
          }
          if(link == 'price'){
            hlink = "/game/priceasc/page/" + (currpage - 1)
          }
          
          if(link == 'category'){
            hlink = "/game/page/"+(currpage-1)+"/category/"+category
          }
      %>
        


        <%if(currpage != 1){%>
        <li class="page-item"><a class="page-link" href="<%=hlink%>">Previous</a></li>
        <%}%>
        <%  
        for(var i = 0;i < totalPages;i++){
            var currClass = ''
            if(currpage == i + 1){
                currClass ="active"
            }
            if(link == 'game'){
            hlink = "/game/page/"+ (i + 1).toString()
          }
          if(link == 'price'){
            hlink = "/game/priceasc/page/" + (i + 1)
          }
          
          if(link == 'category'){
            hlink = "/game/page/"+(i + 1)+"/category/"+category
          }
        %>
            
            <li class="page-item <%=currClass%>"><a class="page-link" href="<%=hlink%>"><%=i+1%></a></li>
        <%
        }


        var hlink;
        if(currpage != totalPages && totalPages > 0){
          if(link == 'game'){
            hlink = "/game/page/"+ (currpage + 1).toString()
          }
          if(link == 'price'){
            hlink = "/game/priceasc/page/" + (currpage + 1)
          }
          
          if(link == 'category'){
            hlink = "/game/page/"+(1+currpage)+"/category/"+category
          }

        %>
              
            <li class="page-item"><a class="page-link" href="<%=hlink%>">Next</a></li>
        <%}%>
    </ul>
</div>

<%-include('includes/footer')%>
