<%-include('includes/header')%>

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-6 col-xl-6 col-sm-10">
    <form class="form" action="" method="">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." />
          <button class="btn btn-dark" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h1 class="text-danger text-center mt-3">Latest Titles</h1>
<div class="p-2">
  <div class="row">
    <% for(var i =0; i < data.length; i++){%>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
      <div class="card shadow shadow-sm">
        <img
          class="game-image img-thumbnail img-responsive"
          src="<%=data[i].image_url%>"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">Title: <%= data[i].title %></p>
          <!-- <p class="card-text"><%= data[i].tags %></p> -->
          <p class="card-text text-gray-700">
            Platform: <%= data[i].platform %>
          </p>
          <p class="card-text text-success"
            ><i class="fa fa-money"></i> PKR<%=data[i].sale_price%></p
          >
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%-include('includes/footer')%>
