<%-include('../includes/header')%>
<%msg.forEach((m)=>{%>

  <div class="alert <%=m.type%> alert-dismissible fade show" role="alert">
    <!--<strong>Username</strong> or <strong>Password</strong> is incorrect-->
    <%=m.msg%>
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%})%>
<div class="row justify-content-center">
  <div class="col"> 
    <form action="" method="post">
      <div class="form-group">
        <label class="text-light" for="name">Console Name</label>
        <input required='required'  class="form-control" type="text" name="name" />
      </div>
      <div class="form-group">
        <label class="text-light" for="sale_price">Sale Price</label>
        <input required='required' class="form-control" type="text" name="sale_price" value="" />
      </div>
      <div class="form-group">
        <label class="text-light" for="category">Choose Manufacturer</label>
        <select required='required' class="form-control" name="manufacturer" id="">
          <%manufacturers.forEach((m) => {%>
            <option value=<%=m.id%>><%=m.name%></option>
          <%})%>
        </select>
        <a class="text-light" href="/admin/manufacturers">Add a new manufacturer.</a>
      </div>
      <div class="form-group">
        <label class="text-light" for="image">Image URL</label><br />
        <input required='required' class="form-control" type="text" name="image" />
      </div>
      <div class="form-group"></div>
      <div class="form-group">
        <label class="text-light" for="tags">Tags</label>
        <input required='required' type="text" class="form-control" name="tags" />
      </div>
      <div class="form-group">
        <label class="text-light" for="post_content">Description</label>
        <textarea
          class="form-control"
          cols="30"
          rows="10"
          id="editor"
          name="description"
        ></textarea>
      </div>
      <!-- <script src = "../js/scripts.js"></script> -->
      <div class="form-group">
        <input
          type="submit"
          class="btn btn-success"
          name="submit_post"
          value="Add Console"
        />
      </div>
    </form>
  </div>
</div>

<%-include('../includes/footer')%>
