<%-include('../includes/header')%>
<div class="table-responsive text-primary" style="filter: blur(0px) brightness(100%);">
    <table class="table table-hover">
    <thead>
    <tr>
        <th class="text-info">Id</th>
        <th class="text-info">Name</th>
        <th class="text-info">Manufacturer</th>
        <th class="text-info">Tags</th>
        <th class="text-primary">Sale Price</th>
        <th class="text-info">Stock</th>
        <th class="text-warning">Edit</th>
        <th class="text-danger">Delete</th>
        <% for(var i =0; i < data.length; i++){%>
            <tr>
              <td><%= data[i].id %></td>
              <td><%= data[i].name %></td>
              <td><%= data[i].manufacturer %></td>
              <td><%= data[i].tags %></td>
              <td><%= data[i].sale_price %></td>
              <td><%= data[i].stock %></td>
            </tr>
            

          <% } %>
    </tr>
    </thead>
    <tbody>
         
    </tbody>
</table>
</div>


<%-include('../includes/footer')%>
